<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Pantalla2</ion-title>
  </ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button color="primary" text="Regresar">
    </ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button expand="block"routerLink="/inicio">
    Inicio
  </ion-button>

  <ion-button expand="block" routerLink="/pantalla1">
    Pantalla#1
  </ion-button>

  <ion-button expand="block" routerLink="/pantalla3">
    Pantalla#3
  </ion-button>

  <ion-button expand="block" routerLink="/pantalla4">
    Pantalla#4
  </ion-button>

  <ion-button expand="block" routerLink="/pantalla5">
    Pantalla#5
  </ion-button>
</ion-content>
