
<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button expand="block" routerLink="/pantalla1"><ion-icon slot="start" name="airplane"></ion-icon>
    Pantalla#1
  </ion-button>

  <ion-button expand="block" routerLink="/pantalla2"><ion-icon slot="start" name="airplane"></ion-icon>
    Pantalla#2
  </ion-button>

  <ion-button expand="block" routerLink="/pantalla3"><ion-icon slot="start" name="airplane"></ion-icon>
    Pantalla#3
  </ion-button>

  <ion-button expand="block" routerLink="/pantalla4"><ion-icon slot="start" name="airplane"></ion-icon>
    Pantalla#4
  </ion-button>

  <ion-button expand="block" routerLink="/pantalla5"><ion-icon slot="start" name="airplane"></ion-icon>
    Pantalla#5
  </ion-button>

<ion-list>
  <ion-item routerLink="/inicio">
    <ion-icon slot="start" name="airplane"></ion-icon>
    <ion-label>Awesome Label</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon slot="start" name="alarm"></ion-icon>
    <ion-label>Awesome Label</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon slot="start" name="american-football"></ion-icon>
    <ion-label>Awesome Label</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon slot="start" name="bluetooth"></ion-icon>
    <ion-label>Awesome Label</ion-label>
  </ion-item>
</ion-list>

</ion-content>